# Kconfig - NUCLEO-64 F411RE board configuration
#
# Copyright (c) 2016 Matthias Boesl
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_PRIVATE_RYAN
	bool "AND!XOR DC28"
	depends on SOC_STM32F411XE
